@layer base {
  :root {
    --van-tabbar-item-active-color: var(--color-primary) !important;
    --van-button-primary-background-color: var(--color-primary) !important;
    --van-button-primary-border-color: var(--color-primary) !important;
    --van-checkbox-checked-icon-color: var(--color-primary) !important;
    --van-checkbox-label-color: var(--color-dark) !important;
  }
}
